<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>返还计算工具</title>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
    {{!--<link rel="stylesheet" type="text/css" href="/easyui/ui-sunny/easyui.css">--}}
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/css/my.css">
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js/my.js"></script>
    <script>
        /**  
         * 日期格式化（原型扩展或重载）  
         * 格式 YYYY/yyyy/ 表示年份  
         * MM/M 月份  
         * dd/DD/d/D 日期  
         * @param {formatStr} 格式模版  
         * @type string  
         * @returns 日期字符串  
         */
        Date.prototype.format = function (formatStr) {
            var str = formatStr;
            var Week = ['日', '一', '二', '三', '四', '五', '六'];
            str = str.replace(/yyyy|YYYY/, this.getFullYear());
            str = str.replace(/MM/, (this.getMonth() + 1) > 9 ? (this.getMonth() + 1).toString() : '0' + (this.getMonth() + 1));
            str = str.replace(/dd|DD/, this.getDate() > 9 ? this.getDate().toString() : '0' + this.getDate());
            return str;
        }
    </script>
</head>

<body style="margin:0px" class="easyui-layout" id="main-layout">
    {{!--
    <div data-options="region:'north'" style="height:50px;background-color: rgb(45, 62, 80);">--}}
        <div data-options="region:'north'" style="height:50px;background-color:rgb(45, 62, 80);padding-top: 5px;padding-left: 7px">
<span style="font-size: 22pt;margin-top: 20px;padding-top:10px"><font color="#ffffff" style="padding-top:100px">返还计算工具</font></span>
        </div>
        <div data-options="region:'south'" style="height:30px;text-align: center;">
            <span style="margin-top: 10px;">Copyright © 广东太古可口可乐</span>
        </div>

        <div data-options="region:'center'" style="padding:5px;background-color:rgb(244, 244, 244);">
            <div id="main-tab" class="easyui-tabs" data-options="fit:true,plain:true">
                <div title="首页">
                    {{{body}}}
                </div>
            </div>
        </div>
        <div data-options="region:'west',split:true" title="功能菜单" style="width:250px;">
            <ul id="main-tree">
                <li>
                    <span>生动化返还计算</span>
                    <ul>
                        <li data-options="state:'closed'">
                            <span>1.非KA年度生动化</span>
                            <ul>
                                <li>
                                    <span>1.1.数据上传</span>
                                    <ul>
                                        <li data-options="url:'/outletgrid'">1.1.1.客户资料上传</li>
                                        <li data-options="url:'/setargeementgrid'">1.1.2.售点协议上传</li>
                                        <li data-options="url:'/salesgrid'">1.1.3.MM销量上传</li>
                                        <li data-options="url:'/checkresult'">1.1.4.检查结果上传</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>1.2.计算结果</span>
                                    <ul>
                                        <li data-options="url:'/calcresultgrid'">1.2.1.计算返还结果</li>
                                        <li data-options="url:'/historygrid'">1.2.2.查看历史结果</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li data-options="state:'closed'">
                            <span>2.非KA经销商</span>
                            <ul>
                                <li>
                                    <span>2.1数据上传</span>
                                    <ul>
                                        <li data-options="url:'/case2/outletgetgrid'">2.1.1.客户资料维护</li>
                                        <li data-options="url:'/case2/skugetgrid'">2.1.2.产品类别</li>
                                        <li data-options="url:'/case2/packagegetgrid'">2.1.3.常备包装</li>
                                        <li data-options="url:'/case2/salesgetgrid'">2.1.4.MM销量</li>
                                        <li data-options="url:'/case2/checkresultgetgrid'">2.1.5.检查结果上传</li>
                                    </ul>
                                </li>
                                <li>
                                  <span>2.2.计算结果</span>
                                    <ul>
                                        <li data-options="url:'/case2/calcresultgrid'">2.2.1.计算返还结果</li>
                                        <li data-options="url:'/case2/historygrid'">2.2.2.查看历史结果</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li data-options="state:'closed'">
                            <span>3.非KA中高档餐饮</span>
                            <ul>
                                <li>
                                    <span>数据上传</span>
                                    <ul>
                                        <li>售点协议</li>
                                        <li>销量数据</li>
                                        <li>检查结果</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>计算结果</span>
                                </li>
                            </ul>
                        </li>
                        <li data-options="state:'closed'">
                            <span>4.非KA金牛</span>
                            <ul>
                                <li>
                                    <span>数据上传</span>
                                    <ul>
                                        <li>售点协议</li>
                                        <li>销量数据</li>
                                        <li>检查结果</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>计算结果</span>
                                </li>
                            </ul>
                        </li>
                        <li data-options="state:'closed'">
                            <span>5.非KALE101，E101 RB</span>
                            <ul>
                                <li>
                                    <span>数据上传</span>
                                    <ul>
                                        <li>售点协议</li>
                                        <li>销量数据</li>
                                        <li>检查结果</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>计算结果</span>
                                </li>
                            </ul>
                        </li>
                        <li data-options="state:'closed'">
                            <span>6.非KA配送费</span>
                            <ul>
                                <li>
                                    <span>数据上传</span>
                                    <ul>
                                        <li>售点协议</li>
                                        <li>销量数据</li>
                                        <li>检查结果</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>计算结果</span>
                                </li>
                            </ul>
                        </li>
                        <li data-options="state:'closed'">
                            <span>7.KA年度</span>
                            <ul>
                                <li>
                                    <span>数据上传</span>
                                    <ul>
                                        <li>售点协议</li>
                                        <li>销量数据</li>
                                        <li>检查结果</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>计算结果</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            $('#main-tree').tree({
                onClick: function (node) {
                    if (node.url) {
                        if ($('#main-tab').tabs('exists', node.text)) {
                            $('#main-tab').tabs('select', node.text);
                            console.log(node.text);
                        } else {
                            $('#main-tab').tabs('add', {
                                title: node.text,
                                iconCls: node.iconCls,
                                closable: true,
                                href: node.url
                            });
                        }
                    }
                }
            });
        </script>

</body>

</html>