<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>返还金额计算工具</title>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/color.css">
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
</head>

<body style="margin:0px" class="easyui-layout" id="main-layout">
    <div data-options="region:'north'" style="height:50px;background-color: rgb(45, 62, 80);">

    </div>
    <div data-options="region:'south'" style="height:30px;text-align: center;">
        <span style="margin-top: 10px;">Copyright © 广东太古可口可乐</span>
    </div>

    <div data-options="region:'center'" style="padding:5px;background-color:rgb(244, 244, 244);">
        <div id="main-tab" class="easyui-tabs" data-options="fit:true,plain:true">
            <div title="首页">
                {{{body}}}
            </div>
        </div>
    </div>
    <div data-options="region:'west',split:true" title="功能菜单" style="width:250px;">
        <ul id="main-tree">
            <li>
                <span>生动化返还计算</span>
                <ul>
                    <li data-options="state:'closed'">
                        <span>非KA年度生动化</span>
                        <ul>
                            <li>
                                <span>数据上传</span>
                                <ul>
                                    <li data-options="url:'/outletgrid'">1.客户资料维护</li>
                                    <li data-options="url:'/setargeementgrid'">1.售点协议设置</li>
                                    <li data-options="url:'/salesgrid'">1.MM销量维护</li>
                                    <li data-options="url:'/checkresult'">1.检查结果维护</li>
                                </ul>
                            </li>
                            <li data-options="url:'/calcresultgrid'">计算结果</li>
                        </ul>
                    </li>
                    <li data-options="state:'closed'">
                        <span>非KA经销商</span>
                        <ul>
                            <li>
                                <span>数据上传</span>
                                <ul>
                                    <li>客户资料维护</li>
                                    <li>售点协议</li>
                                    <li>销量数据</li>
                                    <li>检查结果</li>
                                </ul>
                            </li>
                            <li>
                                <span>计算结果</span>
                            </li>
                        </ul>
                    </li>
                    <li data-options="state:'closed'"><span>非KA中高档餐饮</span>
                        <ul>
                            <li>
                                <span>数据上传</span>
                                <ul>
                                    <li>售点协议</li>
                                    <li>销量数据</li>
                                    <li>检查结果</li>
                                </ul>
                            </li>
                            <li>
                                <span>计算结果</span>
                            </li>
                        </ul>
                    </li>
                    <li data-options="state:'closed'"><span>非KA金牛</span>
                        <ul>
                            <li>
                                <span>数据上传</span>
                                <ul>
                                    <li>售点协议</li>
                                    <li>销量数据</li>
                                    <li>检查结果</li>
                                </ul>
                            </li>
                            <li>
                                <span>计算结果</span>
                            </li>
                        </ul>
                    </li>
                    <li data-options="state:'closed'"><span>非KALE101，E101 RB</span>
                        <ul>
                            <li>
                                <span>数据上传</span>
                                <ul>
                                    <li>售点协议</li>
                                    <li>销量数据</li>
                                    <li>检查结果</li>
                                </ul>
                            </li>
                            <li>
                                <span>计算结果</span>
                            </li>
                        </ul>
                    </li>
                    <li data-options="state:'closed'"><span>非KA配送费</span>
                        <ul>
                            <li>
                                <span>数据上传</span>
                                <ul>
                                    <li>售点协议</li>
                                    <li>销量数据</li>
                                    <li>检查结果</li>
                                </ul>
                            </li>
                            <li>
                                <span>计算结果</span>
                            </li>
                        </ul>
                    </li>
                    <li data-options="state:'closed'"><span>KA年度</span>
                        <ul>
                            <li>
                                <span>数据上传</span>
                                <ul>
                                    <li>售点协议</li>
                                    <li>销量数据</li>
                                    <li>检查结果</li>
                                </ul>
                            </li>
                            <li>
                                <span>计算结果</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        $('#main-tree').tree({
            onClick: function (node) {
                if (node.url) {
                    if ($('#main-tab').tabs('exists', node.text)) {
                        $('#main-tab').tabs('select', node.text);
                        console.log(node.text);
                    } else {
                        $('#main-tab').tabs('add', {
                            title: node.text,
                            iconCls: node.iconCls,
                            closable: true,
                            href: node.url,
                        });
                    }
                }
            }
        });
    </script>

</body>

</html>