<table id="calcresult-dg" title="返还奖励计算" style="width:100%;height:250px;border-top:0px;" toolbar="#calcresult-tbr" data-options="singleSelect:true,collapsible:true,method:'get',fit:true,border:false,">
</table>
<div id="calcresult-tbr">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-upload" plain="true" onclick="$('#calcresult-dlg').dialog('open')">上传结果</a>
    <a id="calcresult-btn-down" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-download" plain="true">下载结果</a>
    <a id="calcresult-btn-del" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delrow()">删除选择</a>
    <input id="calcresult-txt-bu" style="width:90px;height:25px">
    <input id="calcresult-txt-loc" style="width:120px;height:25px">
    <input id="calcresult-txt-outlet" style="width:120px;height:25px">
    <input id="calcresult-txt-name" style="width:200px;height:25px">
    <a id="calcresult-btn-search" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" />
</div>
<input id="calcresult-params" type="hidden" name="referrer" value="{{params}}">

<div id="calcresult-dlg" class="easyui-dialog" title="上传检查结果文件" style="width:400px;height:200px;padding:10px" data-options="
                closed: true,
                iconCls: 'icon-save',
                buttons: [{
                    text:'上传',
                    iconCls:'icon-ok',
                    handler:function(){
                        $('#calcresult-ff').submit();
                    }
                },{
                    text:'取消',
                    handler:function(){
                        $('#calcresult-dlg').dialog('close')
                    }
                }]
            ">
    <form id="calcresult-ff" action="/upload/sales" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><input name="filename" class="f1 easyui-filebox"></input>
                </td>
            </tr>
        </table>
    </form>
</div>

<script>
    var params = $('#calcresult-params').val();
    //params = eval(params);
    $('#calcresult-dg').datagrid({
        //url: '/sales',
        pagePosition: 'bottom',
        pagination: true,
        rownumbers: true,
        pageSize: 30,
        singleSelect: false,
        columns: [[{field:'办事处',title:'办事处',rowspan:'2'},{field:'DME发放协议号',title:'DME发放协议号',rowspan:'2'},{field:'协议名称',title:'协议名称',rowspan:'2'},{field:'协议号费用周期',title:'协议号费用周期',rowspan:'2'},{field:'费用时间段',title:'费用时间段',rowspan:'2'},{field:'发放频率',title:'发放频率',rowspan:'2'},{field:'MM售点',title:'MM售点',rowspan:'2'},{field:'SAP售点',title:'SAP售点',rowspan:'2'},{field:'客户名称',title:'客户名称',rowspan:'2'},{field:'客户',title:'客户',rowspan:'2'},{field:'销量目标/元/月',title:'销量目标/元/月',rowspan:'2'},{field:'折扣/月/元',title:'折扣/月/元',rowspan:'2'},{field:'费用合计',title:'费用合计',rowspan:'2'},{field:'核对结果',title:'核对结果',rowspan:'2'},
        {field:'P1',title:'P1',rowspan:'2'},{field:'P2',title:'P2',rowspan:'2'},{field:'P3',title:'P3',rowspan:'2'},
        {field:'P4',title:'P4',rowspan:'2'},{field:'P5',title:'P5',rowspan:'2'},{field:'P6',title:'P6',rowspan:'2'},
        {field:'P7',title:'P7',rowspan:'2'},{field:'P8',title:'P8',rowspan:'2'},{field:'P9',title:'P9',rowspan:'2'},
        {field:'P10',title:'P10',rowspan:'2'},{field:'P11',title:'P11',rowspan:'2'},{field:'P12',title:'P12',rowspan:'2'},
        {title:'生动化目标',colspan:62},{title:'生动化目标',colspan:62},{title:'生动化目标',colspan:62}],
        {field:'生动化目标.甲方冰柜',title:'生动化目标.甲方冰柜'},{field:'生动化目标.乙方货架排面-全系列',title:'生动化目标.乙方货架排面-全系列'},{field:'生动化目标.乙方端架',title:'生动化目标.乙方端架'},{field:'生动化目标.星级项目-汽水类',title:'生动化目标.星级项目-汽水类'},{field:'生动化目标.星级项目-水类',title:'生动化目标.星级项目-水类'},
        {field:'生动化目标.甲方冰柜-第一门（A)',title:'生动化目标.甲方冰柜-第一门（A)'},{field:'生动化目标.甲方设备或乙方冰柜/风冷柜（二选一）(B)',title:'生动化目标.甲方设备或乙方冰柜/风冷柜（二选一）(B)'},
        {field:'生动化目标.实物小地堆摆放(祈福或桌上纸货架摆放（二选一）',title:'生动化目标.实物小地堆摆放(祈福或桌上纸货架摆放（二选一）'},{field:'生动化目标.套餐墙贴',title:'生动化目标.套餐墙贴'},
        {field:'生动化目标.小堆摆放（450ML奶优）',title:'生动化目标.小堆摆放（450ML奶优）'},{field:'生动化目标.乙方冰柜-四层',title:'生动化目标.乙方冰柜-四层'},{field:'生动化目标.小堆摆放（水）',title:'生动化目标.小堆摆放（水）'},{field:'生动化目标.乙方货架排面-汽水类',title:'生动化目标.乙方货架排面-汽水类'},{field:'生动化目标.乙方货架排面-果汁类',title:'生动化目标.乙方货架排面-果汁类'},{field:'生动化目标.星级项目-果汁类/茶',title:'生动化目标.星级项目-果汁类/茶'},{field:'生动化目标.6箱1．25L产品实物小地堆摆放',title:'生动化目标.6箱1．25L产品实物小地堆摆放'},
        {field:'生动化目标.甲方任意产品3箱小地堆',title:'生动化目标.甲方任意产品3箱小地堆'},{field:'生动化目标.甲方货架-汽水类',title:'生动化目标.甲方货架-汽水类'},{field:'生动化目标.乙方收银台货架排面',title:'生动化目标.乙方收银台货架排面'},{field:'生动化目标.地堆-汽水类',title:'生动化目标.地堆-汽水类'},{field:'生动化目标.小堆摆放（水动乐）',title:'生动化目标.小堆摆放（水动乐）'},{field:'生动化目标.玻璃瓶箱及海报生动化',title:'生动化目标.玻璃瓶箱及海报生动化'},{field:'生动化目标.星级项目-全系列',title:'生动化目标.星级项目-全系列'},{field:'生动化目标.甲方冰柜-两门',title:'生动化目标.甲方冰柜-两门'},{field:'生动化目标.甲方广告品',title:'生动化目标.甲方广告品'},
        {field:'生动化目标.地堆-果汁类（卡板数）',title:'生动化目标.地堆-果汁类（卡板数）'},{field:'生动化目标.客户风冷柜',title:'生动化目标.客户风冷柜'},{field:'生动化目标.乙方饮料货架或乙方饮料端架（二选一）',title:'生动化目标.乙方饮料货架或乙方饮料端架（二选一）'},{field:'生动化目标.围栏纸',title:'生动化目标.围栏纸'},{field:'生动化目标.乙方自动售卖机（设备合格台数）',title:'生动化目标.乙方自动售卖机（设备合格台数）'},
        {field:'生动化目标.乙方冰柜-两层',title:'生动化目标.乙方冰柜-两层'},{field:'生动化目标.可口可乐四层货架摆放',title:'生动化目标.可口可乐四层货架摆放'},{field:'生动化目标.乙方货架排面-全系列10个排面',title:'生动化目标.乙方货架排面-全系列10个排面'},{field:'生动化目标.乙方货架排面-全系列20个排面',title:'生动化目标.乙方货架排面-全系列20个排面'},{field:'生动化目标.地堆A',title:'生动化目标.地堆A'},{field:'生动化目标.餐饮OBM',title:'生动化目标.餐饮OBM'},{field:'生动化目标.客户货架-汽水类',title:'生动化目标.客户货架-汽水类'},{field:'生动化目标.地堆第一卡板',title:'生动化目标.地堆第一卡板'},{field:'生动化目标.地堆第二卡板',title:'生动化目标.地堆第二卡板'},{field:'生动化目标.客户冰柜-第一门',title:'生动化目标.客户冰柜-第一门'},{field:'生动化目标.客户冰柜-第二门',title:'生动化目标.客户冰柜-第二门'},{field:'生动化目标.客户冰柜-第三门',title:'生动化目标.客户冰柜-第三门'},{field:'生动化目标.多点摆放-收银台摆放',title:'生动化目标.多点摆放-收银台摆放'},{field:'生动化目标.水柜',title:'生动化目标.水柜'},{field:'生动化目标.甲方设备生动化标准项目服务',title:'生动化目标.甲方设备生动化标准项目服务'},{field:'生动化目标.水柜',title:'生动化目标.水柜'},{field:'生动化目标.星级项目--营养素饮料类',title:'生动化目标.星级项目--营养素饮料类'},{field:'生动化目标.甲方冰柜-两门',title:'生动化目标.甲方冰柜-两门'},{field:'生动化目标.星级项目-现调产品',title:'生动化目标.星级项目-现调产品'},{field:'生动化目标.甲方任意产品6箱小地堆',title:'生动化目标.甲方任意产品6箱小地堆'},{field:'生动化目标.可口可乐小堆摆放（600ML）',title:'生动化目标.可口可乐小堆摆放（600ML）'},{field:'生动化目标.甲方冰柜-第二门（B)',title:'生动化目标.甲方冰柜-第二门（B)'},{field:'生动化目标.店内冰柜/货架生动化',title:'生动化目标.店内冰柜/货架生动化'},{field:'生动化目标.快讯',title:'生动化目标.快讯'},{field:'生动化目标.可乐小堆箱或五层货架摆放',title:'生动化目标.可乐小堆箱或五层货架摆放'},{field:'生动化目标.小堆摆放（450ML奶优）2',title:'生动化目标.小堆摆放（450ML奶优）2'},{field:'生动化目标.乙方冰柜-三层',title:'生动化目标.乙方冰柜-三层'},{field:'生动化目标.每台冰柜100%摆放我司产品',title:'生动化目标.每台冰柜100%摆放我司产品'},{field:'生动化目标.每台水柜100%我司产品',title:'生动化目标.每台水柜100%我司产品'},{field:'生动化目标.星级项目-果汁类',title:'生动化目标.星级项目-果汁类'},{field:'生动化目标.我司冰柜-摆放率70%（三层）',title:'生动化目标.我司冰柜-摆放率70%（三层）'},
        {field:'生动化目标.星级项目--汽水类+',title:'生动化目标.星级项目--汽水类+'},
        {field:'生动化检查结果.甲方冰柜',title:'生动化检查结果.甲方冰柜'},{field:'生动化检查结果.乙方货架排面-全系列',title:'生动化检查结果.乙方货架排面-全系列'},{field:'生动化检查结果.乙方端架',title:'生动化检查结果.乙方端架'},{field:'生动化检查结果.星级项目-汽水类',title:'生动化检查结果.星级项目-汽水类'},{field:'生动化检查结果.星级项目-水类',title:'生动化检查结果.星级项目-水类'},{field:'生动化检查结果.甲方冰柜-第一门（A)',title:'生动化检查结果.甲方冰柜-第一门（A)'},
        {field:'生动化检查结果.甲方设备或乙方冰柜/风冷柜（二选一）(B)',title:'生动化检查结果.甲方设备或乙方冰柜/风冷柜（二选一）(B)'},{field:'生动化检查结果.实物小地堆摆放(祈福或桌上纸货架摆放（二选一）',title:'生动化检查结果.实物小地堆摆放(祈福或桌上纸货架摆放（二选一）'},{field:'生动化检查结果.套餐墙贴',title:'生动化检查结果.套餐墙贴'},
        {field:'生动化检查结果.小堆摆放（450ML奶优）',title:'生动化检查结果.小堆摆放（450ML奶优）'},{field:'生动化检查结果.乙方冰柜-四层',title:'生动化检查结果.乙方冰柜-四层'},{field:'生动化检查结果.小堆摆放（水）',title:'生动化检查结果.小堆摆放（水）'},{field:'生动化检查结果.乙方货架排面-汽水类',title:'生动化检查结果.乙方货架排面-汽水类'},
        {field:'生动化检查结果.乙方货架排面-果汁类',title:'生动化检查结果.乙方货架排面-果汁类'},{field:'生动化检查结果.星级项目-果汁类/茶',title:'生动化检查结果.星级项目-果汁类/茶'},{field:'生动化检查结果.6箱1．25L产品实物小地堆摆放',title:'生动化检查结果.6箱1．25L产品实物小地堆摆放'},{field:'生动化检查结果.甲方任意产品3箱小地堆',title:'生动化检查结果.甲方任意产品3箱小地堆'},{field:'生动化检查结果.甲方货架-汽水类',title:'生动化检查结果.甲方货架-汽水类'},{field:'生动化检查结果.乙方收银台货架排面',title:'生动化检查结果.乙方收银台货架排面'},{field:'生动化检查结果.地堆-汽水类',title:'生动化检查结果.地堆-汽水类'},{field:'生动化检查结果.小堆摆放（水动乐）',title:'生动化检查结果.小堆摆放（水动乐）'},{field:'生动化检查结果.玻璃瓶箱及海报生动化',title:'生动化检查结果.玻璃瓶箱及海报生动化'},{field:'生动化检查结果.星级项目-全系列',title:'生动化检查结果.星级项目-全系列'},{field:'生动化检查结果.甲方冰柜-两门',title:'生动化检查结果.甲方冰柜-两门'},{field:'生动化检查结果.甲方广告品',title:'生动化检查结果.甲方广告品'},{field:'生动化检查结果.地堆-果汁类（卡板数）',title:'生动化检查结果.地堆-果汁类（卡板数）'},{field:'生动化检查结果.客户风冷柜',title:'生动化检查结果.客户风冷柜'},{field:'生动化检查结果.乙方饮料货架或乙方饮料端架（二选一）',title:'生动化检查结果.乙方饮料货架或乙方饮料端架（二选一）'},{field:'生动化检查结果.围栏纸',title:'生动化检查结果.围栏纸'},{field:'生动化检查结果.乙方自动售卖机（设备合格台数）',title:'生动化检查结果.乙方自动售卖机（设备合格台数）'},{field:'生动化检查结果.乙方冰柜-两层',title:'生动化检查结果.乙方冰柜-两层'},{field:'生动化检查结果.可口可乐四层货架摆放',title:'生动化检查结果.可口可乐四层货架摆放'},{field:'生动化检查结果.乙方货架排面-全系列10个排面',title:'生动化检查结果.乙方货架排面-全系列10个排面'},{field:'生动化检查结果.乙方货架排面-全系列20个排面',title:'生动化检查结果.乙方货架排面-全系列20个排面'},{field:'生动化检查结果.地堆A',title:'生动化检查结果.地堆A'},{field:'生动化检查结果.餐饮OBM',title:'生动化检查结果.餐饮OBM'},{field:'生动化检查结果.客户货架-汽水类',title:'生动化检查结果.客户货架-汽水类'},{field:'生动化检查结果.地堆第一卡板',title:'生动化检查结果.地堆第一卡板'},{field:'生动化检查结果.地堆第二卡板',title:'生动化检查结果.地堆第二卡板'},{field:'生动化检查结果.客户冰柜-第一门',title:'生动化检查结果.客户冰柜-第一门'},{field:'生动化检查结果.客户冰柜-第二门',title:'生动化检查结果.客户冰柜-第二门'},{field:'生动化检查结果.客户冰柜-第三门',title:'生动化检查结果.客户冰柜-第三门'},{field:'生动化检查结果.多点摆放-收银台摆放',title:'生动化检查结果.多点摆放-收银台摆放'},{field:'生动化检查结果.水柜',title:'生动化检查结果.水柜'},{field:'生动化检查结果.甲方设备生动化标准项目服务',title:'生动化检查结果.甲方设备生动化标准项目服务'},{field:'生动化检查结果.水柜',title:'生动化检查结果.水柜'},{field:'生动化检查结果.星级项目--营养素饮料类',title:'生动化检查结果.星级项目--营养素饮料类'},{field:'生动化检查结果.甲方冰柜-两门',title:'生动化检查结果.甲方冰柜-两门'},{field:'生动化检查结果.星级项目-现调产品',title:'生动化检查结果.星级项目-现调产品'},{field:'生动化检查结果.甲方任意产品6箱小地堆',title:'生动化检查结果.甲方任意产品6箱小地堆'},{field:'生动化检查结果.可口可乐小堆摆放（600ML）',title:'生动化检查结果.可口可乐小堆摆放（600ML）'},{field:'生动化检查结果.甲方冰柜-第二门（B)',title:'生动化检查结果.甲方冰柜-第二门（B)'},{field:'生动化检查结果.店内冰柜/货架生动化',title:'生动化检查结果.店内冰柜/货架生动化'},{field:'生动化检查结果.快讯',title:'生动化检查结果.快讯'},{field:'生动化检查结果.可乐小堆箱或五层货架摆放',title:'生动化检查结果.可乐小堆箱或五层货架摆放'},{field:'生动化检查结果.小堆摆放（450ML奶优）2',title:'生动化检查结果.小堆摆放（450ML奶优）2'},{field:'生动化检查结果.乙方冰柜-三层',title:'生动化检查结果.乙方冰柜-三层'},
        {field:'生动化检查结果.每台冰柜100%摆放我司产品',title:'生动化检查结果.每台冰柜100%摆放我司产品'},{field:'生动化检查结果.每台水柜100%我司产品',title:'生动化检查结果.每台水柜100%我司产品'},{field:'生动化检查结果.星级项目-果汁类',title:'生动化检查结果.星级项目-果汁类'},
        {field:'生动化检查结果.我司冰柜-摆放率70%（三层）',title:'生动化检查结果.我司冰柜-摆放率70%（三层）'},
        {field:'生动化检查结果.星级项目--汽水类+',title:'生动化检查结果.星级项目--汽水类+'},
        {field:'生动化奖励计算.甲方冰柜',title:'生动化奖励计算.甲方冰柜'},{field:'生动化奖励计算.乙方货架排面-全系列',title:'生动化奖励计算.乙方货架排面-全系列'},
        {field:'生动化奖励计算.乙方端架',title:'生动化奖励计算.乙方端架'},{field:'生动化奖励计算.星级项目-汽水类',title:'生动化奖励计算.星级项目-汽水类'},{field:'生动化奖励计算.星级项目-水类',title:'生动化奖励计算.星级项目-水类'},{field:'生动化奖励计算.甲方冰柜-第一门（A)',title:'生动化奖励计算.甲方冰柜-第一门（A)'},{field:'生动化奖励计算.甲方设备或乙方冰柜/风冷柜（二选一）(B)',title:'生动化奖励计算.甲方设备或乙方冰柜/风冷柜（二选一）(B)'},{field:'生动化奖励计算.实物小地堆摆放(祈福或桌上纸货架摆放（二选一）',title:'生动化奖励计算.实物小地堆摆放(祈福或桌上纸货架摆放（二选一）'},
        {field:'生动化奖励计算.套餐墙贴',title:'生动化奖励计算.套餐墙贴'},{field:'生动化奖励计算.小堆摆放（450ML奶优）',title:'生动化奖励计算.小堆摆放（450ML奶优）'},
        {field:'生动化奖励计算.乙方冰柜-四层',title:'生动化奖励计算.乙方冰柜-四层'},{field:'生动化奖励计算.小堆摆放（水）',title:'生动化奖励计算.小堆摆放（水）'},{field:'生动化奖励计算.乙方货架排面-汽水类',title:'生动化奖励计算.乙方货架排面-汽水类'},{field:'生动化奖励计算.乙方货架排面-果汁类',title:'生动化奖励计算.乙方货架排面-果汁类'},{field:'生动化奖励计算.星级项目-果汁类/茶',title:'生动化奖励计算.星级项目-果汁类/茶'},
        {field:'生动化奖励计算.6箱1．25L产品实物小地堆摆放',title:'生动化奖励计算.6箱1．25L产品实物小地堆摆放'},{field:'生动化奖励计算.甲方任意产品3箱小地堆',title:'生动化奖励计算.甲方任意产品3箱小地堆'},{field:'生动化奖励计算.甲方货架-汽水类',title:'生动化奖励计算.甲方货架-汽水类'},{field:'生动化奖励计算.乙方收银台货架排面',title:'生动化奖励计算.乙方收银台货架排面'},{field:'生动化奖励计算.地堆-汽水类',title:'生动化奖励计算.地堆-汽水类'},
        {field:'生动化奖励计算.小堆摆放（水动乐）',title:'生动化奖励计算.小堆摆放（水动乐）'},
        {field:'生动化奖励计算.玻璃瓶箱及海报生动化',title:'生动化奖励计算.玻璃瓶箱及海报生动化'},
        {field:'生动化奖励计算.星级项目-全系列',title:'生动化奖励计算.星级项目-全系列'},{field:'生动化奖励计算.甲方冰柜-两门',title:'生动化奖励计算.甲方冰柜-两门'},{field:'生动化奖励计算.甲方广告品',title:'生动化奖励计算.甲方广告品'},{field:'生动化奖励计算.地堆-果汁类（卡板数）',title:'生动化奖励计算.地堆-果汁类（卡板数）'},{field:'生动化奖励计算.客户风冷柜',title:'生动化奖励计算.客户风冷柜'},
        {field:'生动化奖励计算.乙方饮料货架或乙方饮料端架（二选一）',title:'生动化奖励计算.乙方饮料货架或乙方饮料端架（二选一）'},{field:'生动化奖励计算.围栏纸',title:'生动化奖励计算.围栏纸'},{field:'生动化奖励计算.乙方自动售卖机（设备合格台数）',title:'生动化奖励计算.乙方自动售卖机（设备合格台数）'},{field:'生动化奖励计算.乙方冰柜-两层',title:'生动化奖励计算.乙方冰柜-两层'},
        {field:'生动化奖励计算.可口可乐四层货架摆放',title:'生动化奖励计算.可口可乐四层货架摆放'},{field:'生动化奖励计算.乙方货架排面-全系列10个排面',title:'生动化奖励计算.乙方货架排面-全系列10个排面'},{field:'生动化奖励计算.乙方货架排面-全系列20个排面',title:'生动化奖励计算.乙方货架排面-全系列20个排面'},
        {field:'生动化奖励计算.地堆A',title:'生动化奖励计算.地堆A'},{field:'生动化奖励计算.餐饮OBM',title:'生动化奖励计算.餐饮OBM'},{field:'生动化奖励计算.客户货架-汽水类',title:'生动化奖励计算.客户货架-汽水类'},{field:'生动化奖励计算.地堆第一卡板',title:'生动化奖励计算.地堆第一卡板'},
        {field:'生动化奖励计算.地堆第二卡板',title:'生动化奖励计算.地堆第二卡板'},{field:'生动化奖励计算.客户冰柜-第一门',title:'生动化奖励计算.客户冰柜-第一门'},{field:'生动化奖励计算.客户冰柜-第二门',title:'生动化奖励计算.客户冰柜-第二门'},{field:'生动化奖励计算.客户冰柜-第三门',title:'生动化奖励计算.客户冰柜-第三门'},{field:'生动化奖励计算.多点摆放-收银台摆放',title:'生动化奖励计算.多点摆放-收银台摆放'},{field:'生动化奖励计算.水柜',title:'生动化奖励计算.水柜'},{field:'生动化奖励计算.甲方设备生动化标准项目服务',title:'生动化奖励计算.甲方设备生动化标准项目服务'},
        {field:'生动化奖励计算.水柜',title:'生动化奖励计算.水柜'},{field:'生动化奖励计算.星级项目--营养素饮料类',title:'生动化奖励计算.星级项目--营养素饮料类'},{field:'生动化奖励计算.甲方冰柜-两门',title:'生动化奖励计算.甲方冰柜-两门'},{field:'生动化奖励计算.星级项目-现调产品',title:'生动化奖励计算.星级项目-现调产品'},{field:'生动化奖励计算.甲方任意产品6箱小地堆',title:'生动化奖励计算.甲方任意产品6箱小地堆'},
        {field:'生动化奖励计算.可口可乐小堆摆放（600ML）',title:'生动化奖励计算.可口可乐小堆摆放（600ML）'},{field:'生动化奖励计算.甲方冰柜-第二门（B)',title:'生动化奖励计算.甲方冰柜-第二门（B)'},{field:'生动化奖励计算.店内冰柜/货架生动化',title:'生动化奖励计算.店内冰柜/货架生动化'},{field:'生动化奖励计算.快讯',title:'生动化奖励计算.快讯'},{field:'生动化奖励计算.可乐小堆箱或五层货架摆放',title:'生动化奖励计算.可乐小堆箱或五层货架摆放'},{field:'生动化奖励计算.小堆摆放（450ML奶优）2',title:'生动化奖励计算.小堆摆放（450ML奶优）2'},{field:'生动化奖励计算.乙方冰柜-三层',title:'生动化奖励计算.乙方冰柜-三层'},
        {field:'生动化奖励计算.每台冰柜100%摆放我司产品',title:'生动化奖励计算.每台冰柜100%摆放我司产品'},{field:'生动化奖励计算.每台水柜100%我司产品',title:'生动化奖励计算.每台水柜100%我司产品'},{field:'生动化奖励计算.星级项目-果汁类',title:'生动化奖励计算.星级项目-果汁类'},{field:'生动化奖励计算.我司冰柜-摆放率70%（三层）',title:'生动化奖励计算.我司冰柜-摆放率70%（三层）'},{field:'生动化奖励计算.星级项目--汽水类+',title:'生动化奖励计算.星级项目--汽水类+'}
        ]]
    });

    $.extend($.fn.textbox.methods, {
        addClearBtn: function (jq, iconCls) {
            return jq.each(function () {
                var t = $(this);
                var opts = t.textbox('options');
                opts.icons = opts.icons || [];
                opts.icons.unshift({
                    iconCls: iconCls,
                    handler: function (e) {
                        $(e.data.target).textbox('clear').textbox('textbox').focus();
                        $(this).css('visibility', 'hidden');
                    }
                });
                t.textbox();
                if (!t.textbox('getText')) {
                    t.textbox('getIcon', 0).css('visibility', 'hidden');
                }
                t.textbox('textbox').bind('keyup', function () {
                    var icon = t.textbox('getIcon', 0);
                    if ($(this).val()) {
                        icon.css('visibility', 'visible');
                    } else {
                        icon.css('visibility', 'hidden');
                    }
                });
            });
        }
    });


    $(function () {

        //-----
        $('#calcresult-txt-bu').textbox({
            prompt: '查询BU',
            icons: [{
                iconCls: 'icon-filter',
            }]
        }).textbox('addClearBtn', 'icon-clear');

        $('#calcresult-txt-loc').textbox({
            prompt: '查询办事处',
            icons: [{
                iconCls: 'icon-filter',
            }]
        }).textbox('addClearBtn', 'icon-clear');

        $('#calcresult-txt-outlet').textbox({
            prompt: '查询SAP售点',
            icons: [{
                iconCls: 'icon-filter',
            }]
        }).textbox('addClearBtn', 'icon-clear');

        $('#calcresult-txt-name').textbox({
            prompt: '查询店名',
            icons: [{
                iconCls: 'icon-filter',
            }]
        }).textbox('addClearBtn', 'icon-clear');
        //------

        $('#calcresult-ff').form({
            success: function (data) {
                $.messager.confirm(data, '是否刷新数据', function (r) {
                    if (r) {
                        $('#calcresult-dg').datagrid('reload');
                    }
                    $('#calcresult-dlg').dialog('close')
                });

            }
        });
        //down
        $("#calcresult-btn-down").click(function () {
            var params = $('#calcresult-dg').datagrid("options").queryParams;
            var param = '?bu=' + (params.bu ? params.bu : '') + '&outlet=' + (params.outlet ? params.outlet : '') + '&loc=' + (params.loc ? params.loc : '') + '&name=' + (params.name ? params.name : '');
            if (!params) param = "";
            url = "/down/sales" + param;
            $.get(url, function (result) {
                $.messager.alert('结果已生成', result);
            });
        })
        //end down
        //search
        $("#calcresult-btn-search").click(function () {
            $('#calcresult-dg').datagrid('load', {
                bu: $('#calcresult-txt-bu').textbox('getValue'),
                outlet: $('#calcresult-txt-outlet').textbox('getValue'),
                loc: $('#calcresult-txt-loc').textbox('getValue'),
                name: $('#calcresult-txt-name').textbox('getValue'),
            });
        })
        //end search


    });

//---------------

</script>