<table id="case3outlet-dg" title="客户资料" style="width:100%;height:250px;border-top:0px;" toolbar="#case3outlet-tbr" data-options="singleSelect:true,collapsible:true,method:'get',fit:true,border:false,">
</table>
<div id="case3outlet-tbr">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-upload" plain="true" onclick="$('#case3outlet-dlg').dialog('open')">上传客户资料</a>
    <a id="case3outlet-btn-down" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-download" plain="true">下载客户资料</a>
    {{!--<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delrow()">删除选择</a>--}}
    {{!--<input id="case3outlet-txt-bu" style="width:90px;height:25px">--}}
    <input id="case3outlet-txt-type" style="width:120px;height:25px">
    <input id="case3outlet-txt-bu" style="width:120px;height:25px">
    <input id="case3outlet-txt-loc" style="width:120px;height:25px">
    <input id="case3outlet-txt-outlet" style="width:120px;height:25px">
    <input id="case3outlet-txt-name" style="width:200px;height:25px">
    <a id="case3outlet-btn-search" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" />
</div>
<input id="case3outlet-params" type="hidden" name="referrer" value="{{params}}">

<div id="case3outlet-dlg" class="easyui-dialog" title="上传客户资料文件" style="width:400px;height:200px;padding:10px" data-options="
                closed: true,
                iconCls: 'icon-save',
                buttons: [{
                    text:'上传',
                    iconCls:'icon-ok',
                    handler:function(){
                        $('#case3outlet-ff').submit();
                    }
                },{
                    text:'取消',
                    handler:function(){
                        $('#case3outlet-dlg').dialog('close')
                    }
                }]
            ">
    <form id="case3outlet-ff" action="/case3/upload/outlet" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><input name="filename" class="f1 easyui-filebox"></input>
                </td>
                <td>　　先删除原数据</td><td><input name="cbrm" type="checkbox"></td>
            </tr>
        </table>
    </form>
</div>

<script>
    var params = $('#case3outlet-params').val();
    params = eval(params);
    //获取datagrid 数据
        $('#case3outlet-dg').datagrid({
        url: '/case3/outlet',
        pagePosition: 'bottom',
        pagination: true,
        rownumbers: true,
        pageSize: 30,
        singleSelect: false,
        columns: [params]
    });

    $.extend($.fn.textbox.methods, {
        addClearBtn: function (jq, iconCls) {
            return jq.each(function () {
                var t = $(this);
                var opts = t.textbox('options');
                opts.icons = opts.icons || [];
                opts.icons.unshift({
                    iconCls: iconCls,
                    handler: function (e) {
                        $(e.data.target).textbox('clear').textbox('textbox').focus();
                        $(this).css('visibility', 'hidden');
                    }
                });
                t.textbox();
                if (!t.textbox('getText')) {
                    t.textbox('getIcon', 0).css('visibility', 'hidden');
                }
                t.textbox('textbox').bind('keyup', function () {
                    var icon = t.textbox('getIcon', 0);
                    if ($(this).val()) {
                        icon.css('visibility', 'visible');
                    } else {
                        icon.css('visibility', 'hidden');
                    }
                });
            });
        }
    });


    $(function () {

        //-----
        $('#case3outlet-txt-type').textbox({
            prompt: '机制类型',
            icons: [{
                iconCls: 'icon-filter'
            }]
        }).textbox('addClearBtn', 'icon-clear');


        $('#case3outlet-txt-bu').textbox({
            prompt: '查询BU',
            icons: [{
                iconCls: 'icon-filter'
            }]
        }).textbox('addClearBtn', 'icon-clear');

        $('#case3outlet-txt-loc').textbox({
            prompt: '查询办事处',
            icons: [{
                iconCls: 'icon-filter'
            }]
        }).textbox('addClearBtn', 'icon-clear');

        $('#case3outlet-txt-outlet').textbox({
            prompt: '查询售点',
            icons: [{
                iconCls: 'icon-filter'
            }]
        }).textbox('addClearBtn', 'icon-clear');

        $('#case3outlet-txt-name').textbox({
            prompt: '查询客户名称',
            icons: [{
                iconCls: 'icon-filter'
            }]
        }).textbox('addClearBtn', 'icon-clear');
        //------

        $('#case3outlet-ff').form({
            success: function (data) {
                $.messager.confirm(data, '是否刷新数据', function (r) {
                    if (r) {
                        $('#case3outlet-dg').datagrid('reload');
                    }
                    $('#case3outlet-dlg').dialog('close')
                });

            }
        });

        //down
        $("#case3outlet-btn-down").click(function () {
            var params = $('#case3outlet-dg').datagrid("options").queryParams;
            var param='?';
            for (key in params) {
                param += key + '=' + params[key] + '&a=1';

            }
            url = "/case3/down/outlet" + param;
            $.get(url, function (result) {
                $.messager.alert('结果已生成', result);
                //$.get(result,function(){})
                //window.open(result);
            });
        })
        //end down
        //search
        $("#case3outlet-btn-search").click(function () {
            $('#case3outlet-dg').datagrid('load', {
                bu: $('#case3outlet-txt-bu').textbox('getValue'),
                type: $('#case3outlet-txt-type').textbox('getValue'),
                outlet: $('#case3outlet-txt-outlet').textbox('getValue'),
                loc: $('#case3outlet-txt-loc').textbox('getValue'),
                name: $('#case3outlet-txt-name').textbox('getValue')
            });
        })
        //end search

    });

//---------------

</script>