
<input id="history-params" type="hidden" name="referrer" value="{{params}}">
<input id="history-params-v1" type="hidden" name="referrer" value="{{paramsv1}}">
<input id="history-params-v2" type="hidden" name="referrer" value="{{paramsv2}}">

<div id="history-dlg" class="easyui-dialog" title="上传检查结果文件" style="width:400px;height:200px;padding:10px" data-options="
                closed: true,
                iconCls: 'icon-save',
                buttons: [{
                    text:'上传',
                    iconCls:'icon-ok',
                    handler:function(){
                        $('#history-ff').submit();
                    }
                },{
                    text:'取消',
                    handler:function(){
                        $('#history-dlg').dialog('close')
                    }
                }]
            ">
    <form id="history-ff" action="/upload/sales" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><input name="filename" class="f1 easyui-filebox"></input>
                </td>
            </tr>
        </table>
    </form>
</div>

    <table id="history-dg-win" title="返还奖励计算" style="width:100%;height:250px;border-top:0px;" toolbar="#calcresult-tbr" data-options="singleSelect:true,collapsible:true,method:'get',fit:true,border:false,">
</table>

<script>
    var params = $('#history-params').val();
    var paramsv1 = $('#history-params-v1').val();
    var paramsv2 = $('#history-params-v2').val();

//    console.log("1="+params);
    console.log("2="+paramsv1);
    console.log("3="+paramsv2);

    params = eval('[' +params + ']');
    paramsv1 = eval('[' +paramsv1 + ']');
    paramsv2 = eval('[' +paramsv2 + ']');
{{!--
    $('#history-dg').datagrid({
        url: '/history',
        pagePosition: 'bottom',
        pagination: true,
        rownumbers: true,
        pageSize: 30,
        singleSelect: true,
        columns: params,
    });--}}


        $('#history-dg-win').datagrid({
        url: '/calcresultview',
        pagePosition: 'bottom',
        //pagination: true,
        rownumbers: true,
        //pageSize: 30,
        singleSelect: false,
        frozenColumns: paramsv2,
        columns: paramsv1,
        rowStyler: function (index, row) {
            if (row['考核销量售点'] == row['SAP售点']) {
                return 'color:blue;';
            }
        },

    });

    $.extend($.fn.textbox.methods, {
        addClearBtn: function (jq, iconCls) {
            return jq.each(function () {
                var t = $(this);
                var opts = t.textbox('options');
                opts.icons = opts.icons || [];
                opts.icons.unshift({
                    iconCls: iconCls,
                    handler: function (e) {
                        $(e.data.target).textbox('clear').textbox('textbox').focus();
                        $(this).css('visibility', 'hidden');
                    }
                });
                t.textbox();
                if (!t.textbox('getText')) {
                    t.textbox('getIcon', 0).css('visibility', 'hidden');
                }
                t.textbox('textbox').bind('keyup', function () {
                    var icon = t.textbox('getIcon', 0);
                    if ($(this).val()) {
                        icon.css('visibility', 'visible');
                    } else {
                        icon.css('visibility', 'hidden');
                    }
                });
            });
        }
    });


    $(function () {

        //-----
        $('#history-txt-period').textbox({
            prompt: '查询周期',
            icons: [{
                iconCls: 'icon-filter',
            }]
        }).textbox('addClearBtn', 'icon-clear');

        $('#history-txt-vno').textbox({
            prompt: '查询版本',
            icons: [{
                iconCls: 'icon-filter',
            }]
        }).textbox('addClearBtn', 'icon-clear');

        //------

        $('#history-ff').form({
            success: function (data) {
                $.messager.confirm(data, '是否刷新数据', function (r) {
                    if (r) {
                        $('#history-dg').datagrid('reload');
                    }
                    $('#history-dlg').dialog('close')
                });

            }
        });
        //down
        $("#history-btn-down").click(function () {
            var params = $('#history-dg').datagrid("options").queryParams;
            var param = '?period=' + (params.period ? params.period : '') + '&vno=' + (params.vno ? params.vno : '');
            if (!params) param = "";
            url = "/down/history" + param;
            $.get(url, function (result) {
                $.messager.alert('结果已生成', result);
                //$.get(result,function(){})
                //window.open(result);
            });
        })
        //end down
        //search
        $("#history-btn-search").click(function () {
            $('#history-dg').datagrid('load', {
                period: $('#history-txt-period').textbox('getValue'),
                vno: $('#history-txt-vno').textbox('getValue'),
            });
        })
        //end search

                //view
        $("#history-btn-view").click(function () {
            var row = $('#history-dg').datagrid('getSelected');
            var vno = row['版本'];
            var period = row['周期'];
            $('#history-dg-win').datagrid({
                //url: '/version?period=' + period + '&vno=' + vno,
                url: '/calcresultview',
            });
            $('#history-win').window('open');
        });
        //end view

    });
///用于返回子对象
    function formatField(value, row, index, n1, n2) {
        return (row[n1] ? (row[n1][n2] ? row[n1][n2] : "") : '');

    }
//---------------

</script>